<div class="col-md-2 bg-white" style="height:700px;">

    <ul class="list-unstyled ul-left-menu">
        <li class="border-bottom py-2 row">
            <div class="input-group px-3">
                <input type="text" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                    <button class="btn bg-white border" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </li>
        <li id="contact" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Category"> Loại sản phẩm</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Product"> Sản phẩm</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Orders"> Đơn hàng</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/User"> User</a></li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 " href="~/Admin/Slider"> Ảnh bìa</a></li>
       
    </ul>
</div>
<style>
    .ul-left-menu > li > a {
        color: #2E2E2E;
    }
</style>

